.logoHeaderIcon {
	display: flex;
}

.logo--icon {
	margin-right: 10px;
	width: 48px;
	height: 48px;
}

.logo--title {
	margin-top: 10px;
	font-weight: 800;
	font-size: 28px;
	line-height: 114%;
	color: var(--black-to-white-black);
}