.fintable_widget {
	background-color: #fff;
	border-radius: 32px;
	padding: 30px 30px;
	margin-top: 30px;

	.fintable-container {
		grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

.fintable-container {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
	gap: 1px;


	.rows {
		display: contents;
	}

	.row {
		display: contents;
	}

	.header {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 11px;
		text-align: center;
		color: var(--black-to-white-white-20-second-button-active);
		margin-bottom: 10px;
	}

	.cell {
		padding: 12px 0;
		height: 44px;
		border-bottom: 1px solid #e0e0e0;
	}

	.finmodel_table_box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.finmodel_table_title {
		text-align: left !important;
		display: flex;
		align-items: center;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
		color: var(--black-to-white-white-20-second-button-active);
	}
}


.metrics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
}

.widgets_metrics {
	width: 100%;
	max-width: 180px;
	border-radius: 17px;
	background: var(--black-to-white-white-100);
	padding: 22px;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0;

	.widgets_colum-title {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 133%;
		color: var(--black-to-white-black);

	}

	.widgets_colum-number {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 32px;
		line-height: 112%;
		color: var(--black-to-white-black);
		margin: 5px 0;
	}
}

.setting_tabs_item {
	.widgets_metrics {
		max-width: 40%;
	}
}

.fintable_widget {
	table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		margin: 10px 0;
	}

	th,
	td {
		padding: 15px 10px;
		text-align: center;
		border: 1px solid #e0e0e0;
		font-size: 14px;
	}

	th {
		font-weight: bold;
	}

	th.group-fact {
		background-color: #e6e6e6;
		cursor: pointer;
	}

	th.group-model {
		background-color: #d5ead6;
	}


	.group-fact.rub {
		background-color: rgba(236, 236, 236, 0.18);
	}

	.group-fact.proc {
		background-color: rgba(225, 225, 225, 0.26);

		.finmodel_table_box {
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}

	.group-model.dol {
		background-color: rgba(213, 234, 214, 0.17);
	}

	.group-model.plan {
		background-color: rgba(196, 227, 203, 0.24);
	}

	.group-model.open {
		background-color: rgba(176, 216, 187, 0.29);
	}

	.group-deviation {
		background-color: #fbe9e038;
	}

	.left-align {
		text-align: left;
		background-color: #fff;
		font-size: 16px;
		width: 25%;
	}

	tr:nth-child(even) td.group-fact {
		background-color: #f4f4f4;
	}

	tr:nth-child(even) td.group-model {
		background-color: #d5ead69c;
	}
}