.typemodel {
	margin-top: 10px;

	h3 {
		font-size: 18px;
		margin-bottom: 40px;
	}

	.typemodel_select {
		width: 200px;
		height: 30px;
	}

}

.heatMapRatingDatesTable {
	width: 70%;
	display: flex;
	flex-direction: column;
}