.inp_button {
	background-color: #5c5c5c;
	padding: 10px 5px;
	text-align: center;
	color: #fff;
	width: 180px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 500;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 2px 3px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px
}